<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/about_us.css">
	<style>
		.around{
			position: absolute;
			left: 5rem;
			top: 6rem;
			width: 1rem;
			height: 1rem;
			background-size: 100% 100%;
		}
	</style>
</head>
<body>
	<div class="bgbox">
		<div class="back-title-box">
			<div class="back-title">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">关于我们</p>
			</div>
		</div>
		<div class="top_box">
			<img src="../images/about_logo_deltago@2x.png" alt="" class="log">
			<img src="../images/about_img_qrcode@2x.png" alt="" class="qr_code">
			<p class="text">更多详情关注微信公众号</p>
			<p class="visit">
				<img src="../images/about_icon_website@2x.png" alt="" class="icon">
				<span class="content">访问官网&nbsp;&nbsp;www.enrich-global.com</span>
			</p>
			<p class="footer">当前版本号:1.0</p>
		</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>