<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta name = "format-detection" content = "telephone=no">
	<link rel="stylesheet" href="../css/common.css">

	<title>DeltaGo</title>
</head>
<style>
	.box{
		width:92%;
		margin:0 auto;
		padding-top: 0.5rem;
	}
	.box .step{
		background: #1D2C36;
		border-radius: 0.5rem;
		border:0.025rem solid rgba(49,195,239,0.5);
		margin-bottom: 0.5rem;
	}
	.box .title{
		font-size: 0.8rem;
		line-height: 1.125rem;
		color:#31C3EF;
		text-align: center;
		border-bottom: 0.025rem solid rgba(49,195,239,0.5);
		padding:0.5rem;
	}
	.box .text{
		padding:0.75rem 0.5rem;
		color:rgba(255,255,255,0.8);
		font-size: 0.65rem;
		line-height: 0.925rem;
	}
</style>
<script src="js/jquery-3.0.0.js"></script>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img" src="../images/back.png" alt="">
			<p class="back-title-text">常见问题</p>
		</div>
	</div>
	<div class="box">
		
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
<script>
	$(function(){
		var fontSize = $(window).width()/18.75;//屏幕的宽
		$("html").css("font-size",fontSize +"px");

		var data = [
			{
				tittle:'我们是谁？',
				text:'我们是富民环球集团（ENRICH GLOBAL GROUP，简称EGG）总部位于美国纽约，是全球智能投资管理领域中最杰出的企业之一。旗下拥有 DeltaGo 智能理财产品系列、Genesis SpaceX创始人空间 X、EGA 环球商学院、EGG 线上学院 、EPC 富民汇俱乐部等多项品牌与产业。'
			},
			{
				tittle:'为什么叫“富民”？',
				text:'ENRICH GLOBAL GROUP 中的 ENRICH，属于动词，使……富裕之含义。同时我们根据 ENRICH GLOBAL GROUP 在服务全球投资人所使用的“Enriching People”的广告语中，为中国伙伴定义出「富民」这个名词。<br><br>服务于民，藏富于民，是一种古已有之的经济理论，是古代富民学说的延伸。藏富于民是现代东方与西方发达国家的主要特征，是现代文明的终极价值观。也是一种民主及国家强盛的现象。中国的富民思想渊源极早，最早起源于《尚书》中有“裕民”、“惠民”的观点,《周易·益》有“损上益下，民悦无疆”，都是把重视人民的利益视为德政的体现'
			},
			{
				tittle:'富民环球在哪里？是如何成立的？',
				text:'ENRICH GLOBAL GROUP（富民环球集团）总部位于美国纽约，中国运营中心位于深圳，同时，我们在中国拥有 10 位董事成员及 100 位创始人成员分布在不同的城市，属于最高级别的代理机构，为当地的会员及用户提供专业的服务。<br><br>1998 年，由现代华尔街风云人物，慈善家，股票投资者，天才交易人，美国金融界最成功的实践家之一的 Dr. Daniel Gurley（丹尼尔·格利博士）创办富民环球的前身 ENRICH CAPITAL（富民资本）。2002 年，为了将自己的投资交易版图扩大至全球并使得更多的人们能够享受到自己的专业经验所带来的价值，丹尼尔·格利博士将“ENRICH CAPITAL”更名为“ENRICH GLOBAL ASSETSMANAGEMENT LTD.”，由自己出任 CEO，并将总部设立在美国纽约。2005 年，丹尼尔·格利领衔全球著名交易师、资管团队以及诸多交易指标发明人共同成立了智能化资产管理研发团队，并成功打造 DeltaGo 系统。2017 年，继美国、英国、俄罗斯、新加坡、中国香港等国家与地区进行战略布局之后，正式进入中国大陆市场，开放创始人空间 X 平台，与中国优秀企业家们立志共享财富盛宴。'
			},
			{
				tittle:'我们做什么？',
				text:'我们致力于为全球用户提供一键智能化理财方案。通过移动互联网手机应用 APP，连接全球投资市场，以智能化系统达成最优化资产配置与交易策略，获取最稳健回报，并帮助用户实现家庭财务规划、消费规划、教育规划、养老规划、传承规划以及资产全球化规划等。'
			},
			{
				tittle:'我们怎样做？',
				text:'依托富民环球集团所开发的 DeltaGo 智能理财 APP，实现开放化、自动化、智能化理财方案，帮助全球用户进行一键智能化理财。'
			},
			{
				tittle:'我们为什么要做这件事？',
				text:'当今时代，不缺乏为用户提供理财服务的金融企业，也不缺乏帮助用户理财的 APP 或其它互联网工具与产品，但当今金融行业发展不规范，乱象丛生，投资人如果追求较高收益，非常容易受到伪金融或不规范金融企业的虚假宣传而蒙受损失。如果追求稳定与安全，行业中正规的、规范的金融企业（例如银行）所发布的金融产品又不能帮助投资人达成满意的收益率，以抵卸通货膨胀或其它财富增长需求。如何在“高低长短”（即：高收益、低风险、长发展、短周期）中寻求最佳平衡点是非金融专业出身的大众投资人所难以解决的问题。融入 AI（人工智能）策略系统的 DeltaGo 能够大力发挥人工智能在金融领域中的价值，并为投资人贡献最优化的自动化投资策略以及源源不断的自动化智能财富！'
			},
			{
				tittle:'我们帮助用户解决什么问题？',
				text:'社会大众与广大投资人学习过专业金融知识或金融行业出身者占比相当稀少。大部分投资人需要用最简单的方式解决看似最复杂的问题。DeltaGo 可以帮助投资者不需要学习复杂的投资与交易，而得到最稳定与安全的理财成果。'
			},
			{
				tittle:'为什么可以做到投资人不学习金融专业知识而得到最稳定与安全的理财成果？',
				text:'人如果生病，不需自己成为医学家；人如果经历法律纠纷，也不需自己成为法律学家；在国外，人们通常会有理财顾问、法律顾问、健康顾问等人士进行长期合作甚至一生的合作，为自身提供不同领域的服务。大众投资者不需学习专业金融知识就可获得较好的理财效果，因为他们普遍拥有专业的理财顾问或投资顾问为其服务。而在中国，理财顾问通常作为业务人员的属性出现，其服务目的仅仅为了达成业务的成交，自身的专业知识相当匮乏，中国投资人难以找到真正的理财顾问，故大部分以自身的经验与感觉进行投资或交易，效果自然达不到理想目标。而 DeltaGo 融入 AI 人工智能系统，植入超过 10 项 AI 计算模型、40 多种数据挖掘技术的算法模型以及 60 多种自然语言处理技术，拥有自动化信息与数据采样、自动化筛选与分析、自动化决策、自动化学习以及自动化防御等多项全球高端计算方法，以最快速计算机处理速度代替人脑的单一决策，而无需人脑进行按部就班的金融知识学习即可实现专业的交易与投资行为。'
			},
			{
				tittle:'AI 人工智能是什么？',
				text:'人工智能，英文缩写为 AI（Artificial Intelligence），是关于知识的学科――怎样表示知识以及怎样获得知识并使用知识的科学。简单解释为是研究如何使计算机去做过去只有人才能做的智能工作。目前 21 世纪人类三大尖端技术：基因工程、纳米科学以及人工智能，其中人工智能作为普惠大众的最新技术及发展研究方向，已越来越多走向人们的视野。在信息统计、医疗、军事、互联网工具、交通工具、生活类科技产品等领域均已得到快速发展。腾迅集团马化腾在 2017 年互联网大会曾说：未来，所有一切都将应用人工智能技术，尤其在金融、医疗与互联网领域发展犹为明显。'
			},
			{
				tittle:'DeltaGo 的 AI 与 EA 系统有什么区别？',
				text:'目前全球金融从业人士普遍使用计算机自动化交易系统，例如EA 系统（Expert Advisor），但并未植入人工智能。EA 的技术原理是按照您事先设定好的条件及算法自动地进行交易，盈亏结果取决于自动交易系统的触发条件及应对方式设计得是否合理及有效。例如：某金融程序员可以编写这样的一个简易 EA 程序：周期为 5的快线从下方向上穿越周期为 15 的慢线，形成金叉，则自动买入，如从上方向下穿越则形成死叉，则自动卖出。此 EA 程序只能按此固定的交易策略进行交易，而无法智能识别每一次金叉与死叉的有效性或真实性，更无法自动化学习以不断优化策略。正如某投资大师说：再聪明的 EA，其智商也能只达到与编写它的人一样。而 AI融入的策略系统更加全面、计算处理方法更加复杂，更重要的是拥有自动化学习与迭代系统，随着交易次数的增加以及交易时间的延长，其“智商”与交易策略将超过编写它的人类以及远远超越世界上最著名的交易师，逐渐代替受经验限制、学习能力的限制以及有情绪波动的人类。'
			},
			{
				tittle:'我们有什么？',
				text:'我们拥有——<br>全球第一监管（美国 NFA）；<br>国际权威牌照（CTA 与 CPO）严格企业审计（Intelle Capital Management）；<br>专业法律公证（Sergei Ivanyan & Associates 与 SCOTTP.WILLIAMS,P.C.）；<br>资深金融专家（由华尔街风云人物 Dr. Daniel Gurley 领衔全球金融专家）；<br>国际战略布局（美国、英国、俄罗斯、新加坡、马来西亚、泰国、中国等）；<br>智能交易策略（拥有先进的 AI 人工智能系统交易策略为依托）；<br>无限连接网络（连接全球投资市场、连接全球投资产品、连接全球投资人）；<br>一键手机应用（独立开发的移动手机 APP，在全球多个国家逐步上市）'
			},
			{
				tittle:'NFA 是什么？',
				text:'NFA 是全球最严格、权威的监管机构之一。全称为：NationalFutures Association（美国全国期货协会）。是全球公认的三大权威监管机构之一（另两家：英国 FCA 与澳大利亚 ASIC）。NFA 是根据美国《商品交易法》第 17 节的规定，于 1976 年组建的自律组织，属非盈利性会员制组织。NFA 主要职能在于为使 NFA 成员严格遵守法律及制定的规则实施严格管理，监督经纪商、交易员和投资商的行为规范。NFA 将对会员覆行相关的职责，包括：审核和监督会员必须符合 NFA 的财务要求、制订并强制执行保护客户利益的规则和标准、对纠纷进行仲裁等。成为 NFA 成员净资本要求最低为2000 万美元，属于高门槛监管资质。ENRICH GLOBAL GROUP「富民环球集团」是 NFA 正式会员并受其监管，其 ID 号码为：<span>0509</span><span>586</span>，任何投资人与用户均可在 NFA 官方网站https://www.nfa.futures.org/ 查询 ID 及企业的真实性以及相关详细信息。同时「富民环球集团」在通过 NFA 的审核后，拥有 CTA与 CPO 两大世界顶级金融牌照，可在全球开展基金管理、募集及操作交易等业务。'
			},
			{
				tittle:'CTA 与 CPO 是什么？',
				text:'CTA 为商品交易顾问、CPO 为商品合资基金经理，拥有此牌照可拥有金融投资交易操作及基金产品资金募集及运营等资质，是全球两大顶级金融牌照。按照 NFA 的规则 1101 条和 CFTC 规则17015 条，所有的 CTA 与 CPO 都必须取得 NFA 会员资格。这就使得获取 CTA 与 CPO 牌照的门槛大大提高。目前全球拥有此牌照的著名金融人士有吉姆·罗杰斯以及乔治·索罗斯。'
			},
			{
				tittle:'经查询 NFA 与 CTA 和 CPO 都有期货业的性质，跟 DeltaGo有什么关系？DeltaGo 是投资到期货之中吗？',
				text:'期货业与外汇业是全球市场中最大的金融市场，几乎涵盖了全球所有主流与非主流的投资方向。例如全球日益发展与扩大的「期货基金」，是由 CTA 专业的基金管理人运用客户所委托的资金自主决定投资于全球金融市场以获利并且收取相应管理费用的一种基金组织形式。虽然名称为「期货基金」，但其中包含了全球对冲基金、投资基金等相当多的其它投资工具，以及全球不同国家的养老基金、保险基金、捐赠基金、慈善基金等，导致近年来由 CTA 所主导的基金规模随之急剧膨胀与发展。由于基金拥有多种投资方向，造成 CTA 基金的涵盖面也涉及到股票、债券、票据、现金等多种投资方向。由 NFA 所监管的企业会员以及 CTA 与 CPO 的投资行为，其则已基本监管了会员企业所做出的全球所有投资。「富民环球集团」依托 DeltaGo 产品，使用 CTA 与 CPO 的资质与权限，在NFA 的严格监管下，将为全球投资人酌选最佳的投资市场、做出全球最优的资产配置及交易策略。'
			},
			{
				tittle:'DeltaGo 的产品，募集客户的资金是合法的吗？',
				text:'受美国 NFA 所监管的 CTA 牌照，其正当属性与功能包含了募集客户资金形成基金并进行各种投资决策。相当于中国国内的私募基金牌照。而中国私募基金仅仅只能投资于中国国内市场。CTA 则可投资于全球，可为投资人寻找更为广阔的投资空间、更丰富的投资商品以及获取最佳收益的可能性。<br><br>全球金融历史上，首支 CTA 基金于 1949 年正式产生。目前美国、英国等国家的数家投资公司，单支 CTA 基金就已达到 200 亿美元~400 亿美元的规模。在 1987 年，日本尚未制订《商品基金法》，日本国内金融机构与人士将资金委托给美国拥有 CTA 的投资机构进行理财，此阶段形成日本基金业发展的雏形，之后 1991 年日本成立了《商品基金法》。其它国家与地区，例如新加坡或中国台湾也经历类似的发展历史。可见，CTA 拥有全球性的合法资质，甚至由于 CTA 的出现，将带动当地国家与地区的金融发展以及规范与制度的建立。'
			},
			{
				tittle:'CTA 在中国国内的地位及前景',
				text:'CTA 在中国国内将有助于改善我国市场的投资者结构。在成熟的金融市场上，机构投资者交易应占据主导地位。而中国国内则相反，个人投资者投资比例超过 90%，且贡献了 80%的交易量。大量投机行为过度削弱了价格发现功能（指市场通过公开、公正、高效、竞争的交易运行机制，形成具有真实性、预期性、连续性和权威性价格的过程）。CTA 将使机构投资、组合投资成为市场的重要力量，对增强市场的深度和广度、完善市场功能具有重要作用。另外，CTA 收入的主要来源是收益分成而非管理费，此点与现有的证券投资基金不同，更接近于私募基金。因此，与公募的证券投资基金只有投资者、管理人（基金公司）、托管人（商业银行）三方参与，各方的权利义务相对较为简单不同，CTA 基金涉及的力量参与方更多，将成为我国金融市场的重要参与者，并将对我国基金市场、期货市场、信托市场乃至金融行业和整体经济的发展产生积极的推动作用。'
			},
			{
				tittle:'DeltaGo 产品投资的整个流程与逻辑是什么？',
				text:'用户通过 DeltaGo 产品进行投资，可享受全球最优投资方向、策略及稳定收益。用户可选择通过中国国内银行卡联合组织（中国银联）所审核并开通的快捷支付功能、或全球第二大信用卡国际组织及支付品牌（MasterCard 万事达卡）进行投资。其资金将进入拥有百年历史的全球信用评级最高银行之一的 OCBC BANK（华侨银行）托管账户进行换汇，由 DeltaGo 自动化智能交易系统做出交易判断，由 CTA 与 CPO 行使投资职责与权限，由 NFA 进行全方位监管，由会计师事务所及律师事务所进行交易记录的留存、审计及认证，多方共同启动各自职责，资金成功投入到全球不同领域、不同行业的产品之中。例如证券、基金、指数、外汇、商品等领域。由 ENRICH GLOBAL GROUP「富民环球集团」每三个月（季度）发布《投资报告》以向投资人公示投资状况及相关数据。用户获取收益时将在 DeltaGo APP 中即时更新数据，随时可取。'
			},
			{
				tittle:'DeltaGo 产品收益和本金如何取出？',
				text:'DeltaGo 产品收益随着全球投资所产生的收益将即时更新在DeltaGo APP 中。用户可随时提取。提现时在收益卡中点击“提现”即可。用户可选择提现至绑定的中国国内银行卡中、或个人所申请的 MasterCard（万事达卡）中，或提款至个人支付宝账号中。提款至 MasterCard（万事达卡）内将依然保持美元资产。提款至中国银行卡或支付宝将换汇转为人民币资产。由于受国际金流系统的审核限制以及换汇的流程，提现时间为 T+3。<br><br>本金提取时间需按购买产品时所选择的周期进行合约时间的履行。例如购买产品时选择一年期产品，则一年期满后本金可提取。收益则随时可提取。'
			},
			{
				tittle:'MasterCard（万事达卡）是什么？',
				text:'富民环球集团为投资人提供了全球资产布局的解决方案与绝佳体验。与万事达卡（MasterCard）联名推出具有全球取现、全球消费、全球支付、互联网查询等综合功能为一体的美元卡。全球共发行 15 万张。用户通过富民环球旗下 DeltaGo 等系列产品的认购，所获得的收益以及赎回本金均可在 DeltaGo APP 中自由选择进入富民环球联名卡，以实现资产全球化布局，并且方便您在境外的消费与支取。同时极大方便满足于子女或家人在海外的教育、生活等需求。<br><br>MasterCard 万事达卡（纽约证券交易所股票交易代码：MA）成立于 1966 年，是全球最大的支付公司之一。全球总部设在美国东部的纽约。作为全球领先的支付公司，万事达卡致力于提供全球消费者一个更便利与更有效率的金融支付环境，为超过 210 个国家及地区的消费者、政府和商户提供服务。万事达卡于 1988 年进入中国，成为第一个进入中国的国际支付公司，目前国内主要商业银行都是万事达卡的会员，大多数中国会员银行的信用卡都使用万事达卡的品牌。万事达卡同时也是最先在中国实现全球联网业务的国际组织，为中国创造了大量的外汇收入，为会员银行和广大商户创造了各种商业机会和丰厚的利润。<br><br>目前国际上有六大信用卡品牌，分别是威士国际组织（VISAInternational）及万事达卡国际组织（MasterCardInternational）两大组织，以及美国运通国际股份有限公司（America Express）、中国银联股份有限公司（China UnionPayCo.,Ltd.）、大来信用卡有限公司（Diners Club）、JCB 日本国际信用卡公司（JCB）四家专业信用卡公司。其中，VISA(威士卡）、Mastercard（万事达卡）、China UnionPay（银联卡）在全球范围构建了一个刷卡消费联盟，国内银行与他们合作以后，国内银行发行的信用卡就能在他们联盟范围内刷卡消费，在部分国家地区甚至可以持银联卡直接消费。'
			},
			{
				tittle:'如何申请「富民环球集团」的 MasterCard（万事达卡）？',
				text:'投资额度超过 10000 美元的有效会员，均可在 DeltaGo APP个人中心中，在上方“收益卡”上的 MasterCard 人标志点击，进入申请页面，填写资料即可完成申请。申请审核周期为 2 周，审核成功后由美国 MasterCard 中心为您订制刻有姓名的专属万事达卡。'
			},
			{
				tittle:'在 DeltaGo 上投资有什么要求？',
				text:'只要是年龄超过 18 岁且具有完全民事行为能力的合法公民，均可在 DeltaGo 上进行投资。投资人需确保所投资金来源属正常、正当、正规的合法所得。且投资人需遵守中华人民共和国外汇管制的相关条例：即每人每年不超过 5 万美元、每家庭不超过 20 万美元/年，否则 DeltaGo 将拒绝您的认购申请。'
			},
			{
				tittle:'如何证明客户投资款是真正投资出去了？',
				text:'每一笔投资交易均在 DeltaGo 智能化系统进行投资决策后，进入全球不同的投资市场及产品。在投资与交易过程中，每一笔交易均受到全球十大会计师事务所 Intelle Capital Management（英特尔资管事务所）的严格审计并出具法律公证后的《审计报告》；ENRICH GLOBAL GROUP（富民环球集团）会将《审计报告》对DeltaGo 创始人成员以上级别会员给予公示。并在每个季度结束后向所有会员发布上个季度的《投资报告》，刊登详细的投资信息。同时，由于 ENRICH GLOBAL GROUP（富民环球集团）受全球三大最权威监管机构之一的 NFA 监管，其操作流程均在最严格审核与监控之下，确保投资人的资金均进行真实有效的规范投资。'
			},
			{
				tittle:'客户资金是否可以提前赎回？',
				text:'不同周期的产品所进入的投资市场及产品截然不同。为追求收益的最大化及成本的最低化，于资金进入国际市场后，需与投资产品标的（例如基金、债券）确认固定期限合约，故无法在客户所自主选择的投资期限未满的情况下提前赎回。请在投资前仔细确认个人投资周期的需求，进行合理化的准确选择，以免影响其它用款需求。'
			},
			{
				tittle:'如何下载 APP？',
				text:'目前中国版 APP 已正式发布，正积极于安卓各大应用市场及IOS 平台的 APP Store 市场上线。截止到 2017 年 12 月 18 日，安卓市场的 360 手机助手及 VIVO 市场已上线，其它安卓应用市场及IOS 平台还需通过审核验证成功上线后方可搜到。目前下载方法有以下五种：<br>①安卓用户可通过 360 手机助手搜索 DeltaGo 进行下载；<br>②VIVO 手机用户可直接在 VIVO 应用市场搜索 DeltaGo 进行下载<br>③未安装 360 手机助手的安卓用户，或不想安装 360 手机助手的安卓用户，可通过直接扫描 DeltaGo 会员的二维码或所发出的邀请链接进行下载；<br>④苹果手机用户可通过直接扫描 DeltaGo 会员的二维码或所发出的邀请链接进行下载；<br>⑤非 VIVO 手机，无法下载 360 手机助手，或使用苹果手机，又无DeltaGo 会员进行邀请的用户，可搜索“富民环球集团”公众微信订阅号进行下载，或访问富民环球集团官方网站http://www.enrich-global.com 找到下载二维码进行扫描下载。'
			},
			{
				tittle:'在 DeltaGo APP 中，余额、本金卡、收益卡、佣金卡等等是什么意思？',
				text:'用户通过 DeltaGo APP 进行入金，资金会首先进入余额账户中，此时并未购买产品，资金也不会产生收益。当购买一款产品后，会产生一张新的本金卡，会详细记录购买本产品的情况及相关数据。当本产品产生收益时，会产生一张新的收益卡，详细记录本产品产生收益的相关情况与数据。当进行 APP 分享并且新用户购买产品时，会产生一张新的收益卡，详细记录您的每笔奖金获取的情况及数据。佣金卡中的资金会计算到余额总值中，不产生任何收益。您可选择将佣金进行购买产品，以获得二次收益。'
			},
			{
				tittle:'投资时的汇率如何计算？',
				text:'DeltaGo 由中国工商银行提供即时汇率数据接口，用户均可在入金时填写入金金额（美元）后即呈现当前即时汇率所对应的人民币数额，而无须自己计算。'
			},
			{
				tittle:'此时入金汇率合适吗？入金与出金时的汇率差对我会产生什么影响？',
				text:'理论上分析，汇率差可能会令投资者收益加大，也可能使收益缩小。如何判断以当前的汇率入金是否是合适的时机？从目前的汇率分析，2017 年下半年开始，人民币对美元持续升值，累计升值幅度接近 5%。此趋势将延续至 2018 年年初。即得出结论，此时入金是最佳时机，因为此时人民币升值的情况下，可使人民币能够购得更多的美元。根据目前技术面分析，人民币对美元的汇率双边走势区间扩大，震荡幅度较大，2018 年初之后贬值压力较大。从基本面分，根据美国货币政策，加息将持续加速，加之税改政策所带来的资本流动，均给汇率带来压力。以及美国针对中国政府所发布的以人民币为计价单位的原油期货进行竞争，均会使人民币可能大机率开始趋向于贬值，这就意味着，此时人民币处于升值高点时入金，在未来人民币贬值过程中出金，投资者可获得最高、最佳的汇率差。'
			},
			{
				tittle:'DeltaGo 的广告语：打造国际化“余额宝”是什么概念？',
				text:'余额宝拥有投资额度低、收益取现灵活、资金安全稳定等特点受到大众理财者的喜爱。但由于余额宝本身属于货币基金属性，其收益率难以突破，目前仅比银行定期存款利息稍高，无法抵卸人民币国内通货膨胀的风险与损失。而 DeltaGo 具备了余额宝的投资额度低、收益取现灵活、资金安全稳定等特点的同时，拥有投资方向不局限于货币基金，使得收益率大幅提升；由美国 NFA 所监管的投资流程使得资金安全性得到保障；由会计师事务所所进行的交易公证比余额宝更增加了投资透明度；并且通过 MasterCard 可实现国际消费与支取，更将用款范围扩大至全球而非国内。综上所述，DeltaGo 比余额宝更加具备产品优势及投资价值。打造国际化“余额宝”，是 DeltaGo 希望中国投资人拥有余额宝的同时，也能拥有一款人人可投资、人人可获取更佳收益并且保障安全的“余额宝升级版“。'
			}
		];
		$.each(data,function(k,val){

			var str =   '<div class="step">'+
							'<div class="title">'+val.tittle+'</div>'+
							'<div class="text">'+val.text+'</div>'+
						'</div>';
			$('.box').append(str);
		})
	})

</script>
</body>
</html>