<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/find.css">
	<link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
</head>
<body>
	<div class="container">
		<div class="back-title-box">
			<div class="back-title bg1">
				<!-- <img class="back-title-img" src="../images/back.png" alt=""> -->
				<p class="back-title-text">发现</p>
			</div>
		</div>
		<header class="slide slide1box">
			<div class="swiper-container swiper-container1" id="swiper-container1">
				<div class="swiper-wrapper slide1">
					<!-- <div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div> -->
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</header>
		<div class="news bg1">
			<p class="n_title">富民环球资讯</p>	
			<div class="n_content slide2box">
				<div class="swiper-container swiper-container2" id="swiper-container2">
					<div class="swiper-wrapper slider2">
						
					</div>
				</div>

			</div>
		</div>
		<div class="circle">
			<div class="circle_notice">
				<div class="circle1">环球市场资讯</div>
				<!-- <div class="circle2">(数据来源于华尔街见闻)</div> -->
			</div>
			<div class="news_sort">
				<div class="news_sort_title bg1">
					<span class="title1 new_type active" data-channel="global-channel">宏观</span>
					<span class="title1 new_type" data-channel="a-stock-channel">A股</span>
					<span class="title1 new_type" data-channel="weex-channel,gold-channel,gold-forex-channel,forex-channel,goldc-channel,oil-channel">外汇</span>
					<span class="title1 new_type" data-channel="us-stock-channel">美股</span>
					<span class="title1 new_type" data-channel="commodity-channel,bestanalyst-channel">黄金</span>
				</div>
				<div class="news_box">
					<!-- <div class="news_area bg2">
						<div class="news_time">20:20</div>
						<div class="news_content">
							<p>
								美国芝加哥联储主席Evans（有投票权）：资产负债表的正常化过程将是缓慢而渐进的。 完成缩表后的资产负债表规模仍然是个开放式的问题，但趋势是既定的。
							</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../lib/swiper-3.4.2.jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/find.js"></script>
	 
</body>
</html>