<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
</head>
<body>
	<div class="container">
		<!-- <div class="back-title-box">
			<div class="back-title bg1">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">首页</p>
			</div>
		</div> -->
		<header class="slide">
			<div class="swiper-container">
				<div class="swiper-wrapper home_banner">
					<!-- <div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="../images/banner@2x.png" alt="">
					</div> -->
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</header>
		<section class="app_sort">
			<div>
				<a href="#" class="bg1 inviterA">
					<div class="invite img"></div>
					<div>邀请有礼</div>
				</a>

				<a href="#" onclick="window.top.location='wind.html'" class="bg1">
					<div class="wind img"></div>
					<div>风控保障</div>
				</a>
				<a href="#" onclick="window.top.location='integral.html'" class="bg1">
					<div class="integral img"></div>
					<div>公司介绍</div>
				</a>
			</div>
		</section>
		<!-- <div class="notice bg2">
			<div class=icon>
				<img src="../images/home_icon_notice@2x.png" alt="">
			</div>
			<p class="msg">【攻略】独家！福布斯调研报告发布会现场直击！</p>
		</div> -->
		<div class="produce">
			
		</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../lib/swiper-3.4.2.jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>