<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/agent.css">
	<style>
		.text{
			font-size: 0.65rem;
			color: rgba(255,255,255,0.8);
			line-height: 0.925rem;
			width: 92%;
			margin: 0.5rem auto;
		}
	</style>
</head>
<body>




	
	<div class="bg3">
		<div class="back-title-box">
			<div class="back-title bg1">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">收益自动续投说明</p>
			</div>
		</div>
		<p class="text">1. 点选一键自动续投收益功能后可在购买的产品封闭期限内享受收益自动续投的服务，续投的频次按天为单位来计算。这就意味着，产品收益以自然日为周期，不间断地计 入本金复利滚存，在产品封闭期限内产生更多的额外收益；</p>
		<p class="text">2.开启自动续投功能后，当天产生的收益即可叠加入本金享 受复利收益；</p>
		<p class="text">3.若需取消自动续投的功能，请打开收益续投页面，点选取 消收益自动续投功能。</p>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>