<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/integral.css">
</head>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img home" src="../images/back.png" alt="">
			<p class="back-title-text">企业介绍</p>
		</div>
	</div>
	<div class="nav">
		<div class="nav-title first-nav">产品介绍</div>
		<div class="nav-title two-nav active">集团简介</div>
		<div class="nav-title last-nav">创始人空间</div>
	</div>
	<iframe src="jituanjianjie.html" frameborder="0" style="width:100%;height:100%"></iframe>

	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/integral.js"></script>
</body>
</html>