<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/mine.css">
	<link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
</head>
<body>
	<div class="container">
		<div class="back-title-box">
			<div class="back-title bg1">
				<img class="agent" src="../images/account_icon_invite@2x.png" alt="">
				<p class="back-title-text">我的</p>
				<img class="mine-title-img" src="../images/mine_icon_message@2x.png" alt="">
			</div>
		</div>
		<div class="person">
			<div class="p_img">
				<img src="../images/account_icon_user@2x.png" class="userPortrait" alt="">
			</div>
			<div class="p_msg">
				<span class="p_name">EGG</span>
				<span class="p_babel">风云人物</span>
				<div class="p_tatal_money">总资产：$<span class="assetTotal"></span></div>
			</div>
			<div class="p_qrcode">
				<img src="../images/mine_icon_erweima@2x.png" alt="">
				<span class="share">分享</span>
			</div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide income_card">
					<div class="car_top">
						<img class="car_logo" src="../images/mine_card_logo@2x.png">
						<span class="car_income">IMCOME&nbsp;&nbsp;收益</span>
					</div>
					<div class="car_center">
						<div class="car_money">请充值购买后获取收益</div>
						<div class="car_id"><span class="card-first">3</span>***&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;<span class="card-last">5863</span></div>
					</div>
					<div class="car_bottom">
						<span class="en">DeltaGo</span>
						<!-- <span class="date">11/22</span> -->
						<img class="logo" src="../images/mine_icon_mater@2x.png">
					</div>
				</div>
				<div class="swiper-slide commission_card">
					<div class="car_top">
						<img class="car_logo" src="../images/mine_card_logo@2x.png">
						<span class="car_income"> COMMISSION&nbsp;&nbsp;佣金</span>
					</div>
					<div class="car_center">
						<div class="car_money">快去分享给好友获取佣金</div>
						<div class="car_id"><span class="card-first">3</span>***&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;<span class="card-last">5863</span></div>
					</div>
					<div class="car_bottom">
						<span class="en">DeltaGo</span>
						<!-- <span class="date">11/22</span> -->
						<!-- <img class="logo" src="../images/mine_icon_mater@2x.png"> -->
					</div>
				</div>	
			</div>
		</div>
		
		<div class="buy">
			<div class="buy1" data-type="income">提现</div>
			<div class="buy2">充值</div>
		</div>
		<div class="corpusCardsShow" style="margin-top:2rem;">
			<a href="#" class="addCard">
				<img src="../images/mine_img_firstcard@2x.png" alt="" class="add">
			</a>
			<div class="corpusCardsAll">

			</div>
		</div>		
	</div>
	<div class="msgzz">
		<div class="msgBox">
			<div class="title">提示</div>
			<div class="msg">
				您本月免费提现次数为0，本次提现将收取百分之三的手续费
			</div>
			<div class="msgBtn">
				<div class="cancel">取消</div>
				<div class="ok">确认</div>
			</div>
		</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../lib/swiper-3.4.2.jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/mine.js"></script>
</body>
</html>