<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<!-- <link rel="stylesheet" href="../css/recharge_quick.css"> -->
	<style>
	
	</style>
</head>
<body>
	<div class="bg">
		<div class="back-title-box">
			<div class="back-title bg1">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">网银充值</p>
			</div>
		</div>
		<div class="recharge">
			
		</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script>
		$(function(){
			var Request = new Object();
			Request = GetRequest();
			var html = decodeURI(Request["html"]);
			console.log(Request["html"])
			// var url = 'app/news/getInformationDetail';
			// deltaGoAjax(url,{informationId: nid},getInformationDetail);
			// function getInformationDetail(data){
				$('.recharge').html(html);
			// }

		})
	</script>
</body>
</html>