<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/outMoneyToHongkong.css">
	<style>
		.msg_sort>div:nth-child(3) .msg_title{
			width: 50%;
		}
		.msg_sort>div:nth-child(3) input::-webkit-input-placeholder{
			color: #FFFFFF;
		}
	</style>
	<style>
	</style>
</head>
<body>
	<div class="bg">
		<div class="back-title-box">
			<div class="back-title bg1">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">提现</p>
				<img class="icon_server" src="../images/account_icon_customer@2x.png" alt="">
			</div>
		</div>
		<p class="out_title">提现美元到境外银行卡</p>
		<form action="" style="margin:0">
			<input type="hidden" name="tokenId"  class="tokenId">
			<input type="hidden" name="withdrawType"  class="withdrawType">
			<input type="hidden" name="bankType" class="bankType" value="3">
			<div class="msg_sort">	
				<div class="msg_single bg2">
					<span class="msg_title">提现金额</span><input type="text" name="WithdrawMoney" class="WithdrawMoney" placeholder="可提现金额">
					<span class="meiyuan">美元</span>
				</div>
				<div class="msg_single bg1">
					<span class="msg_title">收款人</span><input type="text" name="realName" placeholder="一般为本人真实姓名">
				</div>
				<div class="msg_single bg2">
					<span class="msg_title">银行所在国家/地区</span><input type="text" name="bankState" placeholder="">
				</div>
				<div class="msg_single bg1">
					<span class="msg_title">银行</span><input type="text" name="bankName" placeholder="请填写银行英文名称">
				</div>
				<div class="msg_single bg2">
					<span class="msg_title">银行SWIFT</span><input type="text" name="bankSwift" placeholder="请联系银行获取此信息">
				</div>
				<div class="msg_single bg1">
					<span class="msg_title">账号</span><input type="text" name="bankCardNumber">
				
				</div>
				<p class="remind">为账户安全考虑，您只能提现到本人银行卡账户。</p>
				<div class="commission_remind">
					<p>1. 为了您的资产安全，提现资金只能提现至本人银行卡；</p> 
					<p>2. 佣金提款需扣除5%手续费，用于国际资金跨境转款的相关支付成本。提款到账金额是已经扣除手续费后的最终金额。</p>
				</div>
			</div>
		</form>
		<div class="bottom">
			<p class="Agreement">
				<span class="agree agreeAct">√</span>
				<span class="agreeBtn">我已知晓并确认提款</span>
			</p>
			<a href="#" class="sure"><span>确定</span></a>
		</div>
	</div>
	<div class="msgzz">
		<div class="msgBox">
			<div class="title">请输入交易密码</div>
			<div class="msg">
				<input type="password" class="dealP" oninput="if(value.length>6) value=value.slice(0,6)">
			</div>
			<div class="msgBtn">
				<div class="cancel">取消</div>
				<div class="ok">确认</div>
			</div>
		</div>
	</div>

	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/outMoney.js"></script>
</body>
</html>