<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initail-scale=1.0, user-scalable=0, minWidt">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/productDetail_3.css">
</head>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img home" src="../images/back.png" alt="">
			<p class="back-title-text home">美元指数7D</p>
		</div>
	</div>
	<div class="area area1 bg2">
		<div class="left">
			<div class="yearChangeNum yellow">
				<span class="num">5.8</span>
				<span>%</span>
			</div>
			<div>预期年化</div>
		</div>
		<span class="ycLine"></span>
		<div class="right">
			<div class="inc yellow">12个月</div>
			<div>投资周期</div>
		</div>
	</div>
	<div class="area area2 bg1 padding">
		<span class="title">收益方式</span>
		<span class="incomeType FC5400">每月分配收益</span>
	</div>
	<div class="area area3 padding bg2">
		<div>
			<div class="area3-img">
				<img src="../images/product_icon_month_fx@2x.png" alt="">
			</div>
			<div class="area3-title">收益分配</div>
			<div class="area3-msg">收益月月可取<br> 财富定活两便</div>
		</div>
		<!-- <div>
			<div class="area3-img">
				<img src="../images/product_icon_continous@2x.png" alt="">
			</div>
			<div class="area3-title">续投功能</div>
			<div class="area3-msg">资金灵活续投<br> 收益步步高升</div>
		</div> -->
		<div>
			<div class="area3-img">
				<img src="../images/product_icon_wind_fx@2x.png" alt="">
			</div>
			<div class="area3-title">专业风控</div>
			<div class="area3-msg">智能风险评估<br> 全面风险管理</div>
		</div>
	</div>
	<div class="area area11 padding bg1">
		<div class="title blue">投资亮点</div>
		<div class="explain_text f-8">智能FX计划是针对浮动较大、风险较大的外汇交易市场所推出的保本固定收益类理财产品。不需投资者学习复杂的外汇交易知识即可自动化、智能化获取外汇交易市场收益。预期年化收益率20.5%，时间周期9个月。</div>
		<div class="advantage FC5400">
			<div>新年专享</div>
			<div>高收益</div>
			<div>安全稳健</div>
			<div>攻守兼备</div>
			<div>收益灵活取</div>
			<div>期满赎回</div>
			<div>额度内不限购</div>
			<div>交易可见</div>
		</div>
	</div>
	<div class="area area10 padding bg2">
		<div class="title">资产分配</div>
		<div class="echarts">
			<div class="echart1" id="myChart1"></div>
			<div class="echart2" id="myChart2"></div>
		</div>
	</div>
	<div class="area area4 padding bg1">
		<div class="title">产品介绍</div>
		<div class="text f-8 productIntroduce">
			【爱智鑫】产品属投资组合类产品。资金配置于「国际债券」、「全球基金」、「货币市场」、「商品市场」以及「其它投资」。投资方向拥有现金类资产、固定类资产、浮动类资产以及风险类资产。通过DeltaGo智能策略操作系统实现最优配比，并帮助投资人达成长期稳健理财之目的。 <br><br>
			【爱智鑫】产品属性为「均衡型智能投资组合」。其中「国际债券」配置额度30%、「全球基金」配置额度15%、「货币市场」配置额度25%、「商品市场」配置额度20%、「其它投资」配置额度10%。均衡配置可实现最大化资产分散并进行高收益产品所带来的相关风险对冲。其中，「货币市场」与「商品市场」共同占比45%的配置以实现最大化收益，「国际债券」与「全球基金」共同占比45%进行投资稳定的风控保障。
		</div>
	</div>
	<div class="area area5 padding bg2">
		<div class="title blue">产品规则</div>
		<div class="table f-8">
			<table cellspacing="5px">
				<tr class="tr_bg1">
					<td>起投金额</td>
					<td class="minMoney">0美元</td>
				</tr>
				<tr class="tr_bg2">
					<td>最高限额</td>
					<td class="maxMoney">0美元</td>
				</tr>
				<tr class="tr_bg1">
					<td>封闭期</td>
					<td class="cper"></td>
				</tr>
				<tr class="tr_bg2">
					<td>计息规则</td>
					<td>购买日(T)当天受理，T+1开始计算收益</td>
				</tr>
				<tr class="tr_bg1">
					<td>配置方向</td>
					<td>外汇市场</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="area area6 padding bg1">
		<div class="title blue">投资分析</div>
		<div class="text f-8 qtext">DeltaGo美元指数7D产品是如何分析决策并获取收益的？
		</div>
		<div class="area6_img">
			<img src="../images/invest_img_analyse_newyear@2x.png" alt="">
		</div>
		<div class="text f-8 atext">DeltaGo投资管理团队会定期分析及制订DeltaGo International Bond & Global Fund Investor Experience Report（得够 · 全球债券及基金投资体验报告）,并根据此报告制订相关投资建议数据并输入DeltaGo智能化系统中以增加系统的参考效能。目前DeltaGo所投资国际债券与全球基金涉及北美、欧洲、亚洲及非洲等共25个国家，并以四大范畴评估每个国家的投资体验与成绩，包括：监管及税制、资料披露、收费与开支以及销售。 <br><br>
		DeltaGo在国际债券的分析与决策中，专注考量票面利率高于市场利率的溢价债券市场。对于债券的整体逻辑来分析，债券与资金流动性呈反比关系。当某国债券市场利率越高，代表某国资金流动性降低，或融资需求越强或越急迫。根据对一国货币政策的分析与研判，可进行债券投资最佳的买入时机以及清算与交割。其中，一国经济政策及货币政策所带来的基本面分析对于国际债券有较强的影响作用，例如英国脱欧、特朗普新政、美国加息、意大利修宪公投失败及大选等事件均对债市有较强的影响。 <br><br>
		根据数据分析，2016年全球国际债券整体上涨，好于2015年。2017年好于2015但弱于2016年。全球高收益商业债指数（+14.8%）表现好于投资级公司债指数（+4.4%），新兴市场主权债指数（+9.9%）表现好于发达国家主权债（+1.7%）。美国与非美国家国债收益率分化：特朗普新政引发市场对美国经济的乐观情绪，推升市场加息预期，美国国债收益率整体上行。而其余海外国家国债收益率整体下行。在美国QE开启时呈现股债双牛的局面，QE结束时出现股债双杀的局面。美国频繁的QE政策已引发金融资产的价格由货币的宽松度进行驱动。美国将是全球国际债券重要的投资市场，也是DeltaGo重点的关注对象与投资对象。 <br><br>
		针对「货币市场」及「商品市场」，DeltaGo技术核心之一的ISTS（智能策略交易系统）针对全球汇市以及数字货币市场进行大数据分析以及多项智能研判，并做出最佳决策。系统所分析的数据包括：货币指标（通货膨胀、央行利率、QE政策等）、宏观经济指标（国民生产总值、国内生产总值、耐用品订单、零售业指标、建筑类指标等）、就业指标（失业率、就业数据、失业保险人数等）、其它经济指标（工业生产指数、贸易差额、经常账、采购经理人指数等）……等共计超过10大类的86项重要指标与数据。每日捕捉全球资讯上万条，共同作为基本面分析的决策依据。加之ISTS的智能化内核技术分析，使之自动化操作更加完美。经过历史数据，DeltaGo进行货币交易所获年化回报率稳定在40%~48%之间。</div>
	</div>
	<div class="area area7 padding bg2">
		<div class="title blue">投资报告</div>
	</div>
	<div class="area area8 padding bg1">
		<div class="title blue">投资图解</div>
		<div class="area8_img">
			<img src="../images/product_img_invest_fx@2x.png" alt="">
		</div>
	</div>
	<div class="area area9 padding bg2">
		<div class="title blue">转出细则</div>
		<div class="text">1. 闭锁期结束后，用户的投资资金将在点击确认完成后，自动转出；</div>
		<div class="text">2. 到期转出不收取手续费；</div>
		<div class="text">3. 转出的资金客户可在“我的”界面查询。</div>
	</div>
	<div style="height:2.75rem;">
		<div class="shengyubox">
			<p class="shengyup">剩余额度 <span class="shengyu"></span>美元</p>
			<p class="nowDate">2018</p>
		</div>
		<div class="btn_bottom">立即购买</div>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../lib/echarts.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/productDetail_3.js"></script>
</body>
</html>