<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initail-scale=1.0, user-scalable=0, minWidt">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/productDetail_1.css">
</head>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img home" src="../images/back.png" alt="">
			<p class="back-title-text">美元指数7D</p>
		</div>
	</div>
	<div class="area area1 bg2">
		<div class="yearChangeNum">
			<span class="num">5.8</span>
			<span>%</span>
		</div>
		<div class="productTypeMsg">
			<span>预期年化</span>
			<span class="ycLine"></span>
			<span>定期<span class="inc">7天</span></span>
		</div>
	</div>
	<div class="area area2 bg1 padding">
		<span class="blue title">收益方式</span>
		<span class="incomeType">一次性分配本金及收益</span>
	</div>
	<div class="area area3 padding bg2">
		<div class="title blue">投资亮点</div>
		<div class="explain_text f-8">美元指数7天是美元保本预定收益类理财产品，年化利率5.8%，时间周期短，起投门槛低，每个用户限购一次。</div>
		<div class="advantage">
			<div>新手专享</div>
			<div>$<span class="minMoneyIn">100</span>起投</div>
			<div>保本保息</div>
			<div>期限灵活</div>
			<div>华侨银行托管</div>
			<div>美元升值收益</div>
			<div>时间周期短</div>
			<div>投资门槛底</div>
		</div>
	</div>
	<div class="area area4 padding bg1">
		<div class="title blue">产品介绍</div>
		<div class="text f-8 productIntroduce">
			美元是美利坚合众国的法定货币，由于它是国际上流通量最大的货币，很多国家把美元当作平衡国际收支的储备货币广泛使用，所以美元成为全球外汇交换中的基础货币，也是国际支付和外汇交易中的主要货币，在国际外汇市场中占有非常重要的地位。 <br><br>
			美元指数是是综合反映美元在国际外汇市场的汇率情况的指标，用来衡量美元对一揽子货币的汇率变化程度，是全球投资市场十分关注的一个重要经济指标。美元指数上涨，说明美元与其他货币的比价上涨也就是美元升值，那么国际上主要的商品都是以美元计价，所对应的商品价格应下跌。美元升值对美国本国的经济有益，可提升美国货币的价值，增加购买力。 <br><br>
			DeltaGo美元指数7D（USDX7D）指投资于美国美元指数的7日周期产品。由于美元指数波动快，周期短，可通过智能高频交易获取回报。
		</div>
	</div>
	<div class="area area5 padding bg2">
		<div class="title blue">产品规则</div>
		<div class="table f-8">
			<table cellspacing="5px">
				<tr class="tr_bg1">
					<td>起投金额</td>
					<td class="minMoney">100美元</td>
				</tr>
				<tr class="tr_bg2">
					<td>最高限额</td>
					<td class="maxMoney">10,000美元</td>
				</tr>
				<tr class="tr_bg1">
					<td>封闭期</td>
					<td class="cper">7天(自然日)</td>
				</tr>
				<tr class="tr_bg2">
					<td>计息规则</td>
					<td>购买日(T)当天受理，T+1开始计算收益</td>
				</tr>
				<tr class="tr_bg1">
					<td>叠加奖励</td>
					<td>享受加息券和现金券</td>
				</tr>
				<tr class="tr_bg2">
					<td>配置方向</td>
					<td>美元指数型基金</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="area area6 padding bg1">
		<div class="title blue">投资分析</div>
		<div class="text f-8 qtext">DeltaGo美元指数7D产品是如何分析决策并获取收益的？
		</div>
		<div class="area6_img">
			<img src="../images/invest_img_analyse@2x.png" alt="">
		</div>
		<div class="text f-8 atext">过去30年中，美元指数总共大约有17次显著的逆势回调或反弹，其中10次反弹或回调的幅度超过10%（相对于周期大势）。上述统计分析显示，大约每2年出现一次显著幅度超过5%但小于10%的逆势反弹或回调，大约每3年出现一次幅度超过10%的逆势回调或反弹。 <br><br>
		自2016年年底以来，美联储已三次上调利率，并于9月宣布削减4.5万亿美元的资产负债表。尽管美联储正逐步退出货币宽松政策，但货币政策不但没有收紧反而出现了更宽松的迹象。企业信贷息差下降，长期利率几乎没有变化，股市持续上涨。 <br><br>
		ISTS智能策略操作交易系统作为DeltaGo核心智能技术之一，其主要职责在于针对美元指数产品系列的交易以及其它产品系列针对全球货币市场的交易进行自动化智能配置。每日24小时不间断获取全球基本面数据，通过Monte Carlo Tree Search（MCTS采样搜索系统）进行分析，并依托内核系统自动进行技术面分析并做出最优判断。使用Markov Decision Process（MDP决策系统）进行高频交易进行采样且暂不成交，重复枚举之后的市场策略并不断计算平均回报，获得状态价值并使成功概率无限接近价值网络后，进行真实高频交易。</div>
	</div>
	<div class="area area7 padding bg2">
		<div class="title blue">投资报告</div>
		<!-- <div class="inReport">
			<div class="left">
				<span>2017年一季度</span>
				<span class="f-8 inReportTime">【2017.1.1 00:00 ~ 2017.3.31 24:00】</span>
			</div>
			<div class="right"></div>
		</div>
		<div class="inReport">
			<div class="left">
				<span>2017年一季度</span>
				<span class="f-8 inReportTime">【2017.1.1 00:00 ~ 2017.3.31 24:00】</span>
			</div>
			<div class="right"></div>
		</div>
		<div class="inReport">
			<div class="left">
				<span>2017年一季度</span>
				<span class="f-8 inReportTime">【2017.1.1 00:00 ~ 2017.3.31 24:00】</span>
			</div>
			<div class="right"></div>
		</div> -->
	</div>
	<div class="area area8 padding bg1">
		<div class="title blue">投资图解</div>
		<div class="area8_img">
			<img src="../images/product_img_invest7d@2x.png" alt="">
		</div>
	</div>
	<div class="area area9 padding bg2">
		<div class="title blue">转出细则</div>
		<div class="text">1. 闭锁期结束后，用户的投资资金将在点击确认完成后，自动转出；</div>
		<div class="text">2. 到期转出不收取手续费；</div>
		<div class="text">3. 转出的资金客户可在“我的”界面查询。</div>
	</div>
	<div style="height:2.25rem;">
		<div class="btn_bottom">立即购买</div>
	</div>
	
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/productDetail_1.js"></script>
</body>
</html>