<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<style>
		form p{
			text-align: center;
		}
		.icon_psw_bottom{
			top: 4.9rem;
		}
		.icon_psw{
			top: 1.45rem;
		}
		.icon_choice{
			top: 7.8rem;
		}
	</style>
</head>
<body>
	<div class="bgbox">
		<div class="back-title-box">
			<div class="back-title">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">设置登录密码</p>
			</div>
		</div>
		<form action="#">
			<p>密码为6-16位字符，必须包含数字和字母</p>
			<span class="icon_psw"></span>
			<span class="icon_psw_bottom"></span>
			<input type="text" placeholder="填写密码" class="writeCode"><br/>
			<input type="text" placeholder="再次填写密码" class="writeCode">
			<p><span class="icon_choice"></span>我已阅读并同意《交易所用户协议》</p>
			<a href="#" class="btn"><span>下一步</span></a>
		</form>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>