<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/share.css">
	<style>
	.box{
		height: 100%;
		background-color: rgba(29,44,54,1);
		border:0.025rem solid rgba(49,195,239,0.1);
		border-radius: 0.5rem;
		margin: 2rem;
	}
	/*html,body{
		background-color: rgba(29,44,54,1);
	}*/
	</style>
</head>
<body class="SpecialShare">
	<div class="bg">
		<div class="back-title-box">
			<div class="back-title bg1">
				<img class="back-title-img mine" src="../images/back.png" alt="">
				<p class="back-title-text">分享</p>
				<!-- <img src="../images/account_icon_customer@2x.png" alt="" class="icon_server"> -->
			</div>
		</div>
		<div class="box">
			<img src="../images/share_icon_logo@2x.png" alt="" class="logo_img">
			<div class="person_img_border">
				<img src="../images/account_icon_user@2x.png" alt="" class="person_img">
			</div>
			<p class="nk_name">Anna Thomas</p>
			<!-- <img src="../images/about_img_qrcode@2x.png" alt="" class="qrcode"> -->
			<div class="qrcode" id="qrcode"></div>
			<p class="slogan">智能财富 无限连接</p>
			<!-- <a href="#" class="share">
				<span>我要分享</span>
			</a> -->
		</div>
		<!-- <div class="zz"></div>
		<div class="shareBox bg2">
			<div class="qq">
				<img src="../images/share_icon_qq@2x.png" alt="">
				<span>分享到QQ</span>
			</div>
			<div class="wx-pengyouquan">
				<img src="../images/share_icon_circle@2x.png" alt="">
				<span>分享到朋友圈</span>
			</div>
			<div class="wx-friends">
				<img src="../images/share_icon_wechat@2x.png" alt="">
				<span>分享到微信</span>
			</div>
		</div> -->
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../lib/qrcode.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/share.js"></script>
</body>
</html>