<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<title></title>
	<link rel="stylesheet" href="../css/common.css">
</head>
<style>
	.area{
		width:92%;
		margin:0;
		padding:0;
		margin:0 auto;
	}
	.title{
		font-size: 0.7rem;
		line-height: 1rem;
		margin:0.5rem 0 0.25rem 0;
		text-align: center;
		color:#fff;
	}
	.text{
		opacity: 0.8;
		line-height:0.7rem;
		font-size: 0.5rem; 
	}
	.step{
		font-size:0.7rem;
		line-height: 0.825rem;
		color:#31C3EF;
		margin:0.4rem 0 0.25rem;
	}
	.en{
		display: inline-block;
		width:0.6rem;
	}
	.bottom{
		overflow: hidden;
		margin-bottom: 0.5rem;
	}
	.bottombox{
		margin-bottom: 0.25rem;
		height:auto;
		overflow: hidden;
	}
	.logo{
		width:0.975rem;
		float:right;
		margin-right: 0.25rem;
	}
	.logotext{
		float:right;
		line-height: 1rem;
		font-size: 0.6rem;
	}
</style>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img" src="../images/back.png" alt="">
			<p class="back-title-text">使用条款</p>
		</div>
	</div>
	<div class="area">
		<div class="title">
			Enrich Global Group Limited <br> Web Site Terms and Conditions
		</div>
		<div class="text">
			These are the general terms and conditions of Enrich Global Group ('EGG') for use of the enrich-global web site (the 'Site'). Please read these terms and conditions carefully as your use of the Site is subject to them. EGG reserves the right at its sole discretion to change, modify or add to these terms and conditions without prior notice to you. By continuing to use the Site you agree to be bound by such amended terms.
		</div>
		<div class="step">1. What you are allowed to do:</div>
		<div class="text">
			You may: <br><br>
			1. Browse the Site and view the information on it for personal, professional or other commercial purposes; <br><br>
			2. Print off pages from the Site to the extent reasonably necessary for your use of the Site in accordance with the above. <br><br>
			Provided that at all times you do not do any of the things set out in clause 2.
		</div>

		<div class="step">2. What you are not allowed to do:</div>
		<div class="text">
			Subject to these terms and conditions, you may not: <br><br>
			1. Systematically copy (whether by printing off onto paper, storing on disk or in any other way) substantial parts of the Site; <br><br>
			2. Remove, change or obscure in any way anything on the Site or otherwise use any material contained on the Site except as set out in these terms and conditions; <br><br>
			3. Include or create hyperlinks to the Site or any materials contained on the Site; or <br><br>
			4. Use the Site and anything available from the Site in order to produce any publication or otherwise provide any service that competes with the Site (whether on-line or by other media); or <br><br>
			5. For unlawful purposes and you shall comply with all applicable laws, statutes and regulations at all times.
		</div>

		<div class="step">3. No Investment Advice</div>
		<div class="text">
			Subject to these terms and conditions, you may not: You acknowledge that: <br><br>
			1. EGG does not provide investment advice and that nothing on the Site constitutes investment advice and that you will not treat any of the Site's content as such; <br><br>
			2. EGG does not recommend any financial product; 
			3. EGG does not recommend that any financial product should be bought, sold or held by you; <br><br>
			4. Nothing on the Site should be construed as an offer, nor the solicitation of an offer, to buy or sell securities by EGG; <br><br>
			5. Information which may be referred to on the Site from time to time may not be suitable for you and that you should not make any investment decision without consulting a fully qualified financial adviser.<br><br>
		</div>

		<div class="step">4. Access</div>
		<div class="text">
			The Site is directed exclusively at users located within the states and as such any use of the site by users outside the States is at their sole risk. By using the Site you confirm that you are located within the States and that you are permitted by law to use the Site.
		</div>

		<div class="step">5. Your Personal Information</div>
		<div class="text">
			EGG's use of your personal information is governed by EGG's Privacy Policy, which forms part of these terms and conditions.
		</div>

		<div class="step">6. Copyright and Trade Marks</div>
		<div class="text">
			1. All copyright and other intellectual property rights in any material (including text, photographs and other images and sound) contained in the Site is either owned by EGG or has been licensed to EGG by the rights owner(s) for use by EGG on the Site. You are only allowed to use the Site and the material contained in the Site as set out in these terms and conditions. <br><br>
			2. The Site contains trade marks, including the EGG name and logo and the 'EGG Rating' mark. All trade marks included on the Site belong to EGG or have been licensed to EGG by the trade mark owner(s) for use on the Site. You are not allowed to copy or otherwise use any of these trade marks in any way except as set out in these terms and conditions.
		</div>

		<div class="step">7. Exclusions and Limitations of Liability</div>
		<div class="text">
			1. EGG does not exclude or limit its liability for death or personal injury resulting from its negligence, fraud or any other liability which may not by applicable law be excluded or limited. <br><br>
			2. Subject to clause 7.1, in no event shall EGG be liable (whether for breach of contract, negligence or for any other reason) for: <br><br>
			<span class="en">a. </span> Any loss of profits, <br>
			<span class="en">b.</span> Exemplary or special damages, <br>
			<span class="en">c.</span> Loss of sales, <br>
			<span class="en">d.</span> Loss of revenue, <br>
			<span class="en">e.</span> Loss of goodwill, <br>
			<span class="en">f.</span> Loss of any software or data, <br>
			<span class="en">g.</span> Loss of bargain, <br>
			<span class="en">h.</span> Loss of opportunity,<br> 
			<span class="en">i.</span> Loss of use of computer equipment, software or data, <br>
			<span class="en">j.</span> Loss of or waste of management or other staff time, <br>
			<span class="en">k.</span> For any indirect, consequential or special loss, however arising.
		</div>

		<div class="step">8. Disclaimer</div>
		<div class="text">
			1. All information contain on the Site is for general information use only and should not be relied upon by you in making any investment decision. The Site dose not provide investment advice and nothing on the Site should be construed as being investment advice. Before making any investment choice you should always consullt a fully qualified financial adviser. <br><br>
			2. Although EGG uses its reasonable efforts to ensure to that information on the Site is accurate and complete,we cannot gurantee this to be the case. As a result,use of the Site is at your sole risk and morningstar cannot accept any liability for loss or damage suffered by you arising from your use of information contained on the Site. You should take adequate steps to verify the accuracy and completeness of any information contained on the Site. <br><br>
			3. Information contained on the Site is not tailored for individual use and as a result such information may be unsuitable for you and your investment decisions. You should consult a financial adviser before making any investment decision. <br><br>
			4. The Site includes advertisements and links to external sites and co-branded pages in order to provide you with access to information and services which you may find useful or interesting. EGG does not endorse such sites nor approve any content, information, goods or services provided by them and cannot accept any responsibility or liability for any loss or damage suffered by you as a result of your use of such sites. <br><br>
			EGG is unable to exercise control over the security or content of information passing over the network or via the Service, and Morningstar hereby excludes all liability of any kind for the transmission or reception of infringing or unlawful information of whatever nature. <br><br>
			5. EGG accepts no liability for loss or damage suffered by you as a result of accessing Site content which contains any virus or which has been maliciously corrupted.
		</div>
		
		<div class="step">9. Availability and Updating of The Site</div>
		<div class="text">
			1. EGG may suspend the operation of the Site for repair or maintenance work or in order to update or upgrade its content or functionality from time to time. EGG does not warrant that access to or use of the Site or of any sites or pages linked to it will be uninterrupted or error free. <br><br>
			2. EGG may change the format and content of the Site at its sole discretion from time to time. You should refresh your browser each time you visit the Site to ensure that you access the most up to date version of the Site.<br><br>
		</div>

		<div class="step">10. Enquiries or Complaints</div>
		<div class="text">
			If you have any enquiries or complaints about the Site then please email them below: <br><br>
			equiries@enrich-global.com
		</div>

		<div class="step">General and Governing Law</div>
		<div class="text">
			1. These terms and conditions form the entire understanding of the parties and supersede all previous agreements, understandings and representations relating to the subject matter. If any provision of these terms and conditions is found to be unenforceable, this shall not affect the validity of any other provision. EGG may delay enforcing its rights under these terms and conditions without losing them. You agree that EGG may sub-contract the performance of any of its obligations or may assign these terms and conditions or any of its rights or obligations without giving you notice. <br><br>
			2. EGG will not be liable to you for any breach of these terms and conditions which arises because of any circumstances which EGG cannot reasonably be expected to control. <br><br>
			3. These terms and conditions shall be governed and interpreted in accordance with US law, and you consent to the non-exclusive jurisdiction of the US courts.<br><br>
		</div>
		<div class="bottom">
			<div class="bottombox">
				<div class="logotext">Powered by DeltaGo</div>
				<div class="logo">
					<img src="../images/provision_logo_deltago@2x.png" alt="">
				</div>
			</div>
			<div class="bottombox">
				<div class="logotext">Copyright@2017 Enrich Global Group Limited</div>
				<div class="logo">
					<img src="../images/provision_logo_enrich@2x.png" alt="">
				</div>
			</div>
		</div>
		
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>

</body>
</html>