<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<style>

	</style>
</head>
<body>
	<div class="bgbox">
		<div class="back-title-box">
			<div class="back-title">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">填写身份信息</p>
			</div>
		</div>
		<form action="#">
			<span class="icon_name"></span>
			<span class="icon_id"></span>
			<input type="text" placeholder="请填写您的真实姓名" class="writeCode">
			<input type="text" placeholder="请输入您的身份证号" class="writeCode">
			<a href="#" class="btn"><span>登录</span></a>
		</form>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>