<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<style>
	.time{
		position: absolute;
		right: 0;
		top: 0.45rem;
		font-size: 0.7rem;
		color: rgba(255,255,255,0.3);
	}
	.icon_seccode{
		top: 0.55rem;
	}
	</style>
</head>
<body>
	<div class="bgbox">
		<div class="back-title-box">
			<div class="back-title">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">填写密码</p>
			</div>
		</div>
		<form action="#">
			<span class="icon_seccode"></span>
			<!-- <span class="time">60秒</span> -->
			<input type="text" placeholder="输入密码" class="writeCode">
			<!-- <p>
				<a href="#" class="seccode">没收到？重新发送！</a>
			</p> -->
			<a href="#" class="btn"><span>注册</span></a>
		</form>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script>
		$(function(){
			var Request = new Object();
			Request = GetRequest();
			var phone = Request["phone"];
			var code = Request["code"];
			$('.btn').click(function(){
				var regExp=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,21}$/;
				if(!regExp.test($(".writeCode").val())){
					errorMsg('密码必须为6位以上数字字母组合');
					return;
				}
				var url = 'app/login/register';
				var data = {
					phone:phone,
					validateCode:code,
					password:$('.writeCode').val()
				};
				deltaGoAjax(url,data,register);
			})
			function register(result){
				localStorage.setItem('phone',phone);
				localStorage.setItem('password',$('.writeCode').val());
				localStorage.setItem('tokenId',result.data.tokenId);
				window.location.href = '../index.html?act=2';
			}
		})
	</script>
</body>
</html>