<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DeltaGo</title>
	<link rel="stylesheet" href="../css/common.css">
	<style>
	.time{
		position: absolute;
		right: 0;
		top: 0.45rem;
		font-size: 0.7rem;
		color: rgba(255,255,255,0.3);
	}
	.icon_seccode{
		top: 0.55rem;
	}
	</style>
</head>
<body>
	<div class="bgbox">
		<div class="back-title-box">
			<div class="back-title">
				<img class="back-title-img" src="../images/back.png" alt="">
				<p class="back-title-text">填写验证码</p>
			</div>
		</div>
		<form action="#">
			<span class="icon_seccode"></span>
			<span class="time">60秒</span>
			<input type="text" placeholder="输入验证码" class="writeCode">
			<p>
				<a href="#" class="seccode">没收到？重新发送！</a>
			</p>
			<a href="#" class="btn"><span>下一步</span></a>
		</form>
	</div>
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
	<script>
		$(function(){
			var Request = new Object();
			Request = GetRequest();
			var phone = Request["phone"];
			time();
			function time(){
				var time = 60;
				$(".seccode").off('click');
				var timerId = setInterval(function(){
					$(".time").text(time + "秒");
					time --;
					if(time == -1){
						clearInterval(timerId);
						flag = true;
						seccode();
					};
				},1000);
			}
			function seccode(){
				$('.seccode').click(function(){
					var url = 'app/login/checkPhone';
					var data = {
						phone:phone,
						operate:"register"
					};
					deltaGoAjax(url,data,time);
				})
			}

			$('.btn').click(function(){
				var url = 'app/login/checkValidateCode';
				var data = {
					phone:phone,
					validateCode:$(".writeCode").val(),
					operate:"register",
					invitationUserCode:""
				};
				deltaGoAjax(url,data,register);
			})
			function register(){
				window.location.href = 'write_password.html?phone='+phone+'&code='+$(".writeCode").val();
				// var url = '/app/login/register';
				// var data = {
				// 	phone:phone,
				// 	validateCode:$(".writeCode").val(),
				// };
				// deltaGoAjax(url,data,ok);
			}
		})
	</script>
</body>
</html>