<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<title></title>
	<link rel="stylesheet" href="../css/common.css">
</head>
<style>
	.area{
		width:92%;
		margin:0;
		padding:0;
		margin:0 auto;
	}
	.title{
		font-size: 0.8rem;
		line-height: 1rem;
		margin:0.5rem 0 0.25rem 0;
		text-align: center;
		color:#fff;
	}
	.text{
		opacity: 0.8;
		line-height:0.7rem;
		font-size: 0.5rem; 
	}
	.step{
		font-size: 0.7rem;
		line-height: 0.825rem;
		color:#31C3EF;
		margin:0.4rem 0 0.25rem;
	}
	.en{
		display: inline-block;
		width:0.6rem;
	}
	.bottom{
		overflow: hidden;
		margin-bottom: 0.5rem;
	}
	.bottombox{
		margin-bottom: 0.25rem;
		height:auto;
		overflow: hidden;
	}
	.logo{
		width:0.975rem;
		float:right;
		margin-right: 0.25rem;
	}
	.logotext{
		float:right;
		line-height: 1rem;
		font-size: 0.6rem;
	}
</style>
<body>
	<div class="back-title-box">
		<div class="back-title bg1">
			<img class="back-title-img" src="../images/back.png" alt="">
			<p class="back-title-text">隐私政策</p>
		</div>
	</div>
	<div class="area">
		<div class="title">
			Privacy Policy
		</div>
		<div class="text">
			enrich-global.com is not just committed to providing you with independent and unbiased investment information; we're also committed to protecting your privacy. This Privacy Policy outlines the types of information we gather about you, how we use it, the means by which we keep it secure and the choices you have about the information you choose to share with us. <br><br>
			If you have any questions about the privacy practices of enrich-global.com or this Privacy Policy, please e-mail: info@enrich-global.com
		</div>
		<div class="step">What Information Do We Collect and How Do We Use It ?</div>
		<div class="text">
			When you register on enrich-global.com you will be asked to complete a registration form. This registration form includes certain personal information, such as your name, postcode, e-mail address, as well as other demographic information like age, gender and personal income. <br><br>
			We may use your name and e-mail address to contact you about enrich-global.com, to send you information about other products/services we think might interest you. EGG does not share your e-mail address with anybody. During the registration/subscription process (and at any time thereafter), you can decide whether or not you wish to receive this sort of information from enrich-global.com Details on how to control the use of your information are found below (How to Control or Change Your Profile).<br><br>
			The demographic and personal profile information that we collect during the registration/subscription process, such as household income, age, and gender, are used only in aggregate. EGG does not sell or rent your personally identifiable information to anyone. Instead, we use this information to create content and functionality that best serves the needs and interests of our users and to improve the quality of the service we provide you.
		</div>

		<div class="step">How Is Portfolio Information Used and Protected ?</div>
		<div class="text">
			We recognize that your portfolio information is potentially very sensitive, and protecting the privacy of this information is a top priority for us. The contents of your portfolio are kept strictly confidential and are not shared with any third parties.
		</div>

		<div class="step">What About Internet Protocol (IP) Addresses and Cookies ?</div>
		<div class="text">
			enrich-global.com logs IP addresses and browser types, but we do not link IP addresses to personally identifiable information. This means that, while a user's session is tracked, the identity of that user remains anonymous. We also use these IP addresses to analyse trends, administer the site and gather broad demographic information for aggregate use. <br><br>
			Cookies are used for the same reasons. Cookies are small pieces of information stored on your computer's hard drive that allow us to monitor what sort of content on enrich-global.com you find most interesting. By better understanding how you and our other users are using enrich-global.com, we can develop tools and customize content to personalize and improve everyone's experience. We also use cookies to remember your userid for you (so that you don't have to keep re-entering your user name each time you come back to the site). Your privacy and security are not compromised when you accept a cookie from enrich-global.com because we do not use cookies to collect personal information. Please note, however, that advertisers on our site may also serve you their own cookies when you click through to their sites. We do not control, nor do we have access to, any of the information that they may collect.<br><br> 
			Of course, you can choose not to accept the cookie by adjusting your browser settings but, if you choose to do so, you may not be able to take full advantage of the certain customized content on enrich-global.com
		</div>

		<div class="step">Links to Other Sites</div>
		<div class="text">
			To provide you with a more complete resource for investment information and services, enrich-global.com contains links to certain other sites. Please note that you may be required to register with a site that links to enrich-global.com in order to take advantage of that site's services. <br><br>
			We cannot be responsible for the privacy practices of these sites; you should refer to these sites' privacy policies for details.
		</div>

		<div class="step">Security</div>
		<div class="text">
			enrich-global.com takes precautions to protect its members' personal information. We use industry-standard on-line security measures, such as authentication, to protect your information. Please note, however, that no transmission over the Internet can be 100% secure. <br><br>
			enrich-global.com also works to protect user information offline. All of your information is housed in secure, access-restricted areas. Only employees who need the information to perform a specific function are granted access to personally identifiable information.
		</div>

		<div class="step">How to Control or Change Your Profile Information</div>
		<div class="text">
			You can edit any of the personal information you've provided by visiting the Personal Profile section of the Membership area. Because this information is protected, you will be required to enter your user name and password to make changes. <br><br>
			In the E-mail Subscription Centre, you can choose to receive e-mail newsletters and other communications about new features and improvements to enrich-global.com We also include instructions on how to opt-out of receiving e-mail from enrich-global.com each time we send you a message. <br><br>
			You can stop mail from enrich-global.com, click here Your name will be removed from our database within one business day. Or to immediately unsubscribe, update your Personal Profile by visiting the Personal Profile section of the Membership area. Make certain the appropriate boxes are not checked.
		</div>

		<div class="step">Your Acceptance of These Terms</div>
		<div class="text">
			By using this site, you consent to the collection of this information by EGG US’s and EGG US's privacy policy.
		</div>

		<div class="step">Your Rights</div>
		<div class="text">
			You have a legal right to a copy of all the personal information about you held by us. You also have a right to correct any errors in that information.
		</div>

		<div class="step">Changes to the Privacy Policy</div>
		<div class="text">
			If we ever change the Privacy Policy, we will post that information on this Privacy Policy page. If there is ever any material change to the information we gather and how it is used, we will notify you via the address we have in your personal profile. We invite you to come back from time to time to review the policy. <br><br>
			If you have any questions about enrich-global.com US’s privacy practices or this Privacy Policy, please e-mail us at info@enrich-global.com.<br><br>
		</div>

		<div class="bottom">
			<div class="bottombox">
				<div class="logotext">Powered by DeltaGo</div>
				<div class="logo">
					<img src="../images/provision_logo_deltago@2x.png" alt="">
				</div>
			</div>
			<div class="bottombox">
				<div class="logotext">Copyright@2017 Enrich Global Group Limited</div>
				<div class="logo">
					<img src="../images/provision_logo_enrich@2x.png" alt="">
				</div>
			</div>
		</div>
		
	</div>
	
	<script src="../lib/jquery-1.12.2.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>