.out_title{
	font-size: 0.75rem;
	color: rgba(49,195,239,1);
	line-height: 2rem;
	text-align: center;
}
.msg_single{
	font-size: 0.8rem;
	line-height: 3rem;
	color: rgba(49,195,239,1);
	padding-left: 1rem;
	display: flex;
}
.msg_title{
	width: 30%;
}
.msg_single input{
	width: 57%;
	background: none;
	font-size: 0.6rem;
	/*margin-left: 3rem;*/
	text-align: left;
	color:#fff;
}

.msg_single input::-webkit-input-placeholder{
	color: rgba(255,255,255,0.5);
}

form .msg_sort .remind{
	font-size: 0.55rem;
	color: rgba(255,255,255,0.5);
	margin-top: 1rem;
	margin-bottom: 3rem;
	text-align: center;
}
.sure{
	display: block;
	background-color: rgba(49,195,239,1);
	border-radius: 0.5rem;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,1);
	margin: 1rem auto;
}
.sure span{
	/*text-align: center;*/
	font-size: 0.85rem;
	line-height: 2.5rem;
}

form .msg_sort .commission_remind{
	width:85%;
	margin:1rem auto 3rem;
	font-size: 0.55rem;
	color: rgba(255,255,255,0.5);
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-align: left;
	display: none;
}
form .msg_sort .commission_remind p{
	padding:0;
	color: rgba(255,255,255,0.5);
}
.bottom{
	/*position: absolute;
	left:10%;
	bottom:3.25rem;*/
	width:80%;
	margin:0 auto;
}
.Agreement{
	font-size: 0.5rem;
	line-height: 0.7rem;
	color:#31C3EF;
	text-align: center;
	margin-bottom: 0.7rem;
	display: none;
}
.agree{
	display: inline-block;
	width:0.8rem;
	height:0.8rem;
	line-height: 0.8rem;
	font-size: 0.4rem;
	text-align: center;
	border:1px solid #31C3EF;
	border-radius: 0.8rem;
	color:rgba(49,195,239,0)
}
.agreeAct{
	color:rgba(49,195,239,1);
}

.msgzz{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	display: none;
	z-index: 10000;
}
.msgBox{
	background:#1D2C36;
	width:13.5rem;
	padding-top: 0.775rem;
	color:rgba(255,255,255,0.8);
	text-align: center;
	
	border-radius: 0.5rem;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.msgBox .title{
	font-size: 0.75rem;
	line-height: 1.05rem;
}
.msgBox .msg{
	font-size: 0.6rem;
	line-height: 0.825rem;
	margin-top:0.35rem;
	padding-bottom:0.75rem;
	border-bottom:0.05rem solid rgba(45,179,219,0.1);
}
.msgBtn div{
	width:6.5rem;
	float:left;
	line-height: 2.4rem;
}
.cancel{
	border-right:0.05rem solid rgba(45,179,219,0.1);
}
.msgzz .dealP{
	width:80%;
	line-height: 1.75rem;
	letter-spacing: 1rem;
	font-size: 1rem;
	outline: none;
	border:0.05rem solid rgba(49,195,239,0.5);
	border-radius: 0.5rem;
	margin:0.5rem 0;
	font-size: 0.65rem;
	background:none;
	text-indent: 1.65rem;
}
.meiyuan{
	font-size:0.6rem;
	color:rgba(255,255,255,0.5);
}
